.WeightComponent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.WeightComponent > span {
  padding: 10px 20px;
  background-color: #7a29e4;
  color: #ffffff;
  border: 1px solid #7a29e4;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.WeightComponent > span:hover {
  background-color: #ffffff;
  color: #7a29e4;
}

@media only screen and (min-width: 600px) {
  .WeightComponent {
    justify-content: center;
  }
}